.container {
  margin: 10px;
  padding: 10px;
}

.spells {
  position: relative;
  margin: auto;
  display: flex;
  gap: 20px;
}

.array, .details {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  display: inline-block;
  width: 50%;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 5px;
}

.array {
}

.details {
  position: relative;
}

.details p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
