.classDetails {
  border: 2px solid darkred;
  border-radius: 25px;
  background-color: #d3a9a9;
  padding: 20px;
}

.classDetails h2 {
  text-align: center;
}

.classDetails .info {
  /*display: grid;*/
  /*grid-template-columns: repeat(12, 1fr);*/
  /*grid-template-rows: repeat(2, auto);*/
  /*grid-gap: 20px;*/
}

.clickable {
  cursor: pointer;
  text-decoration: underline;
}

.clickable:hover {
  cursor: pointer;
  color: darkred;
  text-decoration: none;
}
