@if (classDetails) {
    <div class="classDetails" [style.background-color]="classColor+'4C'" [style.border-color]="classColor">
        <h3>{{ classDetails.name }}</h3>
        <div class="info">
            <div>
                <i>information here</i>
            </div>

            <div class="equipments">
                @if (classDetails.starting_equipment && classDetails.starting_equipment.length > 0) {
                    <app-starting-equipment [starting_equipment]="classDetails.starting_equipment" />
                }
                @if (classDetails.starting_equipment_options && classDetails.starting_equipment_options.length > 0) {
                    <app-starting-equipment-option [starting_equipment_options]="classDetails.starting_equipment_options" />
                }
            </div>

            @if(classDetails.proficiency_choices && classDetails.proficiency_choices.length > 0) {
                <app-proficiency-choices [proficiency_choices]="classDetails.proficiency_choices" />
            }
            @if(classDetails.proficiencies && classDetails.proficiencies.length > 0) {
                <div class="proficiencies">
                    <h4>Proficiencies</h4>
                    <ul>
                        @for (pro of classDetails.proficiencies; track pro.index) {
                            <li>{{pro.name}}</li>
                        }
                    </ul>
                </div>
            }


            @if (classDetails.spellcasting) {
                <div class="spell">
                    <div class="spellList">
                        <app-class-spell-list [spellReferences]="spellReferences" [className]="this.classDetails.name" />
                    </div>
                    <div class="spellcasting">
                        <h4>Spell Casting information</h4>
                        @for (sp of classDetails.spellcasting.info; track sp.name) {
                            <div>
                                <b>{{sp.name}}</b>
                                <p>{{sp.desc}}</p>
                            </div>
                        }
                    </div>
                </div>
            }

        </div>
    </div>
}
