@if (classDetails) {
    <div class="classDetails" [style.background-color]="classColor+'4C'" [style.border-color]="classColor">
        <h3>{{ classDetails.name }}</h3>
        <div class="info">
            <div>
                <i>information here</i>
            </div>

            <div class="equipments">
                @if (classDetails.starting_equipment) {
                    <app-starting-equipment [starting_equipment]="classDetails.starting_equipment" />
                }
                @if (classDetails.starting_equipment_options) {
                    <app-starting-equipment-option [starting_equipment_options]="classDetails.starting_equipment_options" />
                }
            </div>

            <div class="proficiencies_choices">
                @if(classDetails.proficiency_choices) {
                    <h4>Proficiency choices</h4>
                    <div class="list">
                        @for (pro of classDetails.proficiency_choices; track pro.desc) {
                            <div>
                                <p>{{pro.desc}}</p>
                                <ul>
                                    @for (f of pro.from.options; track f) {
                                        @switch (f.option_type) {
                                            @case ('reference') { <li>{{f.item.name}}</li>   }
                                            @case ('choice')    { <li>{{f.choice.desc}}</li> }
                                        }
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                }
            </div>
            <div class="proficiencies">
                @if(classDetails.proficiencies) {
                    <h4>Proficiencies</h4>
                    <ul>
                        @for (pro of classDetails.proficiencies; track pro.index) {
                            <li>{{pro.name}}</li>
                        }
                    </ul>
                }
            </div>


            <div class="spell">
                <div class="spellList">
                    <h4>Spells list</h4>

                </div>
                @if (classDetails.spellcasting) {
                    <div class="spellcasting">
                        <h4>Spell Casting information</h4>
                        @for (sp of classDetails.spellcasting.info; track sp.name) {
                            <div>
                                <b>{{sp.name}}</b>
                                <p>{{sp.desc}}</p>
                            </div>
                        }
                    </div>
                }
            </div>

        </div>
    </div>
}
